body{
    background-image: url("https://wallpaperaccess.com/full/1567665.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    font-family: Arial, Helvetica, sans-serif;
    
}
.outer{
    width: 850px;
    height: 230px;
    background:grey;
   margin: auto;

}
h1{
    padding-top: 20px;
    padding-left: 30px;
    font-weight: 100px;
}
h2{
    padding-left: 60px;
    color:white;
}
.para1{
    padding-left: 76%;
    color: white;
}
.inter1{
    
    width: 170px;
    height: 50px;
    padding-left: 74%;
    position: absolute;
    top: 170px;
    right: 290px;
    color: white;
}
.face{
    padding-left: 1%;
}
.img{
        display: block;
        margin: auto;
        border-radius: 50%;
        position: relative;
        top: 100px;
      }
.listdiv{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    position: relative;
    top: 150px;
    color: #ffa500;
}

 
